.heading p{
    font-weight: bold;
    text-align:center;
    font-size:1rem;
}
.card-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards{
    width:350px;
    height:400px;
    background-color: rgb(231, 230, 230);
    margin:20px;

}

.image-container img{
    width:350px;
    height:250px;
}
.card-data{
    padding:5px;
}
.data{
    text-align: center;
    font-weight: bold;
}
