<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink="structural-directive">StructuralDirective</a></li>
      <li><a routerLink="dynamic-content">DynamicContent</a></li>
      <li><a routerLink="control-flow">ControlFlow</a></li>
      <li><a routerLink="for">for</a></li>
      <li><a routerLink="switch">switch</a></li>
      <li><a routerLink="template-driven">Template-dirven</a></li>
      <li><a routerLink="reactive">Template-dirven</a></li>

    </ul>
  </div>
</nav>
<div class="container">
  <!-- responsible to render activated route components -->
  <router-outlet></router-outlet>
</div>